body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  text-align: center;
}
#DepartmentForm{
  border:1px solid #ccc;
  background-color:white ;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px;
}

form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}


.departmentAttr {
 
  background-color: aquamarine;
  width: 120px;

 }
 